.findAppointment-container {
  display: flex;
  flex-wrap: wrap;
  .table-container > div {
    height: 600px;
  }
  .table-container > div > table {
    min-width: auto;
  }
  .map-container {
    width: 50%;
  }
  thead th{
    background-color: #3f51b5;
  }
  h1 {
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 400;
  }
  h2 {
      width: 100%;
      text-align: center;
      font-weight: 400;
      margin-top: 2rem;
      margin-bottom: 0;
  }
  button {
    margin: 0 auto;
    margin-left: 10px;
  }
  .findAppointment-input {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    form {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;
      .singleInput-container {
        margin-top: 10px;
        width: 50%;
        flex-direction: column;
        display: flex;
        color: red;
        div {
          width: 400px;
          &.select {
            margin-top: 30px;
            div {
                div {
                    padding-right: 0;
                }
                
            }
           
          }
        }
        input {
          min-width: 80%;
        }
        &:first-of-type {
          width: 100%;
          color: black;
          div {
            width: 40%;
            legend {
              margin-bottom: 20px;
            }
            div {
              width: 100%;
              display: flex;
              justify-content: flex-start;
              margin-bottom: 0;
              padding-left: 1.5rem;
              input {
                min-width: auto;
              }
            }
          }
        }
      }
      .submit-button {
        margin-top: 20px;
      }
    }
  }
}

.bottom-container {
    width: 100%;
    text-align: center;
    .search-more{ 
font-size: 22px;
    }
    .bottom-inner {
        display: flex;
    }

}
