.findAppointment-container {
  display: flex;
  flex-wrap: wrap;

  h1 {
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 400;
  }
  .findAppointment-input {
    max-width: 1000px;
    margin: 0 auto;
    form {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;
      .singleInput-container {
        margin-top: 10px;
        width: 50%;
        flex-direction: column;
        display: flex;
        color: red;    
        div {
          width: 400px;
          &.MuiSelect-root-119 {
            margin-top: 30px;
          }
        }
        input {
          min-width: 80%;
        };
        &:first-of-type {
          width: 100%;
          color: black;
          div {
            width: 40%;
            legend {
              margin-bottom: 20px;
            }
            div {
              width: 100%;
              display: flex;
              justify-content: flex-start;
              margin-bottom: 0;
              padding-left: 1.5rem;
              input {
                min-width: auto;
              }
            }
          }
        }
      }
      .submit-button {
        margin-top: 20px;
      }
    }
  }
}

.bottom-container {
  display: flex;
  width: 100%;
}