.container {
  display: grid;
  grid-template-columns: 50vw 50vw;
  .container {
    &-table {
      padding: 0 1rem;
      .PlacesTable-root-66{
        margin-top: 0;
      }
    }
    &-map {
      padding: 0 1rem;
      .leaflet-container {
        height: 600px;
        width: 100%;
      }
    }
  }
}
