.map-container {
    padding: 10px;
    width: 50%;
    .leaflet-container {
        height: 600px;
        width: 100%;
      }
    
}


.leaflet-marker-icon {
    background: url(./icon.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.leaflet-popup {
    .leaflet-popup-content {
        margin: 20px 15px 10px;
        h2,p,span,ul {
            margin: 0;
        }
        ul {
            padding-left: 20px;
        }
        .submit-container {
            display: flex;
            justify-content: space-between;
        }

        a {
            margin-top: 0.5rem;
        }
    }
}