.analyticsSidebar {
    ul {
        margin-top: 5%;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        li {
            list-style-type: none;
            cursor: pointer;
            &:hover{
                transform: scale(1.1);
                transition: 0.2s;
                color: blue;
            }
        }
        
    }

}