.sideNav {
    position: fixed;
    left: 0;
    top: 80px;
    height: 100%;
    z-index: 1000;
    background: white;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    
    ul {
        list-style: none;
        li {
            a {
                text-decoration: none;
                color: black;
                padding: 1rem 4rem 1rem 1rem;
                &[aria-current="page"]{
                    color: blue;
                }
            }
        }
    }
}

.analytics-heading {
    margin-left: 350px;
    padding: 2rem;
    padding-top: 0;
}